@model IEnumerable<ventaTickets.Models.Show>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 >Shows Disponibles</h1>

<body class="body-index2">
    <div class="full-container">
        <div class="shows">
        @foreach (var item in Model)
        {
                <input class="show" 
                       type="image" 
                       src="@Html.DisplayFor(modelItem => item.imagen)" 
                       onclick="location.href='@Url.Action("Details", "Shows", new { id = item.showId })'" />
        }
        </div>
    </div>   
</body>