<body style="background: #314755;background: -webkit-linear-gradient(to left, #26a0da, #314755);background: linear-gradient(to left, #26a0da, #314755);">

<h1>Cantidad no disponible</h1>
<a asp-controller="Home" asp-action="Index">Volver a la Cartelera</a>
</body>