@model ventaTickets.Models.Show


<div>
    <h4>Detalle de compra</h4>
   
    <dl class="row">
        <dt class="col-sm-2">
            Show
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class="col-sm-2">
            Cantidad
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Cantidad
        </dd>
        <dt class="col-sm-2">
            Sector
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Sector
        </dd>
        <dt class="col-sm-2">
            Precio total
        </dt>
        <dd class="col-sm-10">
            $@ViewBag.Precio
        </dd>

        <dd class="col-sm-10">
            <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKV3bVKgMl6G2QMUg-QEFetJ6JSjAoo38hDMUxwQZWTbjIJQIB0dK1gGfIUlbHp3V8n3s&usqp=CAU" />
        </dd>
        <form asp-controller="Mails" asp-action="confirmacionPago" method="post">
            <div class="mb-3">
                <label for="inputEmail4" class="form-label">Nombre y apellido</label>
                <input type="text" class="form-control" name="nomCompleto" required />
            </div>
            <div class="mb-3">
                <label for="inputEmail4" class="form-label">Dni</label>
                <input type="text" class="form-control" name="dni" pattern="[0-9]+" maxlength="10" minlength="7" required />
            </div>
            <div class="mb-3">
                <label for="inputEmail4" class="form-label">Número de tarjeta</label>
                <input type="text" class="form-control" name="numTarjeta" required />
            </div>
            <div class="mb-3">
                <label for="inputEmail4" class="form-label">Codigo de seguridad</label>
                <input type="text" class="form-control" name="nomCompleto" pattern="[0-9]+" maxlength="3" minlength="3" required />
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

        <dd class="col-sm-10">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXXnHuUxJ70tbkMfuLVcbq6iqhMHC7W54lsg&usqp=CAU" />         
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Administrador"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.showId">Edit</a>
 
    }

    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
